@import './mixin.scss';
@import './element-ui.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
  background-color: #E9ECEF;
  @include scrollBar;
}

/* 重置样式 */
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input, button, textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

/****************************************************/
/* 公共样式 */

.clearfix {
  zoom: 1;

  &:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
  }
}

.clearboth {
  zoom: 1;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}


.flexcenter {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.trnfcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
